<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210613663534-aehkvmde1ggo5274ngj1h93nag05939t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210613663534-aehkvmde1ggo5274ngj1h93nag05939t</string>
	<key>API_KEY</key>
	<string>AIzaSyA_qpFg-hXcr61xzc2UMKy7MrKbnofQvfk</string>
	<key>GCM_SENDER_ID</key>
	<string>210613663534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamlink</string>
	<key>PROJECT_ID</key>
	<string>searchstream-cd98f</string>
	<key>STORAGE_BUCKET</key>
	<string>searchstream-cd98f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210613663534:ios:ba5ca61e8d5e7fc655ecbf</string>
	<key>DATABASE_URL</key>
	<string>https://searchstream-cd98f.firebaseio.com</string>
</dict>
</plist>